.endpage
{
    
    font-family: "Inspiration";
    font-size: 100px;
}

#restart
{
 font-family: monospace;
  margin-top:5px;
  padding:10px 25px 10px 25px;
  border: 0.1px  ;
  border-radius: 15px;
  font-size:20px;
  background-color: darkred;
  color: white;
  cursor:pointer;
}