.App
{
    background-color: rgb(115, 220, 239);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center|top;
    flex-direction: column;
}


#quiz
{
    font-family: monospace;
    font-size: 40px;
    margin-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center|top;
    flex-direction: column;
}
#score
{
    font-family:"Inspiration";
    font-size: 100px;
    
}

#letsstart
{
    margin-top: 100px;
    font-family:"Lobster Two";
    font-size: 40px;
    background: grey;
    cursor: pointer;
    padding: 10px;
}